NET "clk" LOC = "E12"| IOSTANDARD = LVCMOS33;
NET "clk" PERIOD = 20.0ns HIGH 50%;
NET "reset" LOC = "T16" | IOSTANDARD = LVCMOS33 | PULLDOWN;

NET "SPIin" LOC="AB14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "DAC_CS" LOC="W7"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "DAC_CLR" LOC="AB13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "SPIclk" LOC="AA20"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "AD_CONV" LOC = "Y6" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "ADC_CS" LOC="W6"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "ADC_rst" LOC = "W15" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "ADC_OUT" LOC = "D16" | IOSTANDARD = LVCMOS33 ;

NET "readSW" LOC = "V8" | IOSTANDARD = LVCMOS33 ;

NET "arp" LOC = "AA21" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "acp" LOC = "AB21" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "trig" LOC = "AA19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "arp_r" LOC = "V14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "acp_r" LOC = "V15" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "trig_r" LOC = "W16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

NET "arp" LOC = "W21" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<6>" LOC = "Y22" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<5>" LOC = "V20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<4>" LOC = "V19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<3>" LOC = "U19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<2>" LOC = "U20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<1>" LOC = "T19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<0>" LOC = "R20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
